td, th {
    font-size: large;
    border: solid blueviolet;
    color: black;

}

.active_page {
    color: crimson;
}

.button_page {
    color: black;
    border: 2px solid blueviolet;
    margin: 5px;
    padding: 20px;
    font-size: large;
}